<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">

          <div class="intro">
            <div class="box">
              <img src="images/squarehead-glasses.png" height="200" width="200" />
            </div>
            <div class="intro-text">
              <p>Hi, I’m Bob.</p>
              <p>I make great iOS apps, websites, and voice interfaces in San&nbsp;Francisco, California.</p>
              <p><a href="mailto:bob@robertcantoni.com">Hire me</a> for your next project.</p>
            </div>
          </div>  
          <div class="section-header-line"></div>
          <div class="bio">
            <h1>Robert Cantoni</h1>
            <p>iOS Product &amp; Engineering</p>
            <p><a href="mailto:bob@robertcantoni.com">email</a> | <a href="https://twitter.com/cantoni">twitter</a> | <a href="https://github.com/cantoni">github</a> | <a href="https://www.linkedin.com/in/robertcantoni/">linkedin</a></p>
          </div>
          <div class="section-header-line"></div>
          <div class="skills">
            <div class="title1">PRODUCT<br />DISCOVERY</div>
            <div class="box1">I help folks turn their ideas into successful apps by combining data, user research, and intuitive design.</div>
            <div class="title2">PRODUCT<br />MANAGEMENT</div>
            <div class="box2">I create clear roadmaps for stakeholders and collaborate with designers and engineers to iterate quickly.</div>
            <div class="title3">POLISHED<br />ENGINEERING</div>
            <div class="box3">I sweat the details, using the latest technologies and frameworks to create great experiences for end users.</div>
          </div>
          <div class="section-header-line"></div>
          <div class="experience">
            <h2>Experience</h2>
            <div class="experience-grid">
              <div class="box">
                <ul>
                  <li>Five years experience as product owner and product manager</li>
                  <li>Co-founder of <a href="http://nicemohawk.com">Nice Mohawk Limited</a>, iOS development shop</li>
                  <li>Product ideation and design for mobile, web, and voice apps that have reached millions of users</li>
                  <li>Experience leading local and remote teams as engineering lead and product manager</li>
                </ul>
              </div>
              <div class="box">
                <ul>
                  <li>Six years mobile development experience in Swift and Objective-C</li>
                  <li>Shipped multiple apps featured by the iOS App Store</li>
                  <li>Shipped Jelly Voice on Amazon Alexa and, as a launch day partner, on the Google Home</li>
                  <li>Data-guided product management, using KPI and leading indicators to understand and shape user behavior</li>
                </ul>
              </div>
            </div>  
          </div>  
          <div class="section-header-line"></div>
          <div class="past-work">
            <h2>PAST WORK</h2>
            <div class="past-work-grid">
            <div class="image-box"><img src="images/jelly-icon.png" width="128" height="128" /></div>
              <div class="box">
              <h3>Jelly</h3>
              Get answers from real people, fast. Through Jelly, hundreds of thousands of people got answers to their pressing questions on iOS and web, and thousands more answered questions to power our knowledge engine. I was Product Manager at Jelly until our acquisition by Pinterest in 2017.
              </div>
            <div class="image-box"><img src="images/jelly-voice-icon.png" width="128" height="128" /></div>
              <div class="box">
                <h3>Jelly Voice</h3>
                As product manager and lead engineer, I helped expand Jelly's reach so our users could effortlessly get answers over voice interfaces. We launched on the Google Home, then expanded to Amazon Alexa. <a href="https://vimeo.com/195830765">Watch the video</a> to get a sense of how Jelly worked.
              </div>
            <div class="image-box"><img src="images/ita-icon.png" width="128" height="128" /></div>
              <div class="box">
                <h3>Ita</h3>
                At Nice Mohawk, we built Ita, a list-making app for iPhone and iPad. We loved our list-making app, and shipped two major versions (and dozens of updates) before discontinuing support in 2016.
              </div>
            <div class="image-box"><img src="images/lovely-icon.png" width="128" height="128" /></div>
              <div class="box">
                <h3>Lovely</h3>
                At Lovely, we made finding a place to live easy and fun. And fast. We used the core Lovely app to power apps for two other related brands, Rent.com and Apartment Guide. My role was mobile lead and, for the Apartment Guide launch, product manager.
              </div>
          </div>
          <div class="footer">Making things is fun. Let’s do it together.<br />© Robert Cantoni 2017</div>
      </div>
    </main>
  </body>
</html>
