<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">

          <div class="intro">
            <div class="box">
              <img src="images/squarehead-glasses.png" height="200" width="200" />
            </div>
            <div class="intro-text">
              <p>Hi, I’m Bob.</p>
              <p>I help teams make great mobile apps, websites, and voice interfaces.</p>
              <p><a href="mailto:bob@robertcantoni.com">Hire me</a> for your next project.</p>
            </div>
          </div>  

          <div style="clear:both"></div>

          <div class="section-header-line"></div>

          <div class="bio">
            <h1>Robert Cantoni</h1>
            <p>Product + Engineering in San&nbsp;Francisco, California</p>
            <p><a href="mailto:bob@robertcantoni.com">email</a> | <a href="https://twitter.com/catoni">twitter</a> | <a href="https://github.com/cantoni">github</a> | <a href="https://www.linkedin.com/in/robertcantoni/">linkedin</a></p>
          </div>

          <div class="section-header-line"></div>

          <div class="skills">


            <div class="title1">PRODUCT<br />DISCOVERY</div>
            <div class="box1">Proven track record of using data and user research to turn ideas into validated, successful products</div>
            <div class="title2">PRODUCT<br />MANAGEMENT</div>
            <div class="box2">I create clear roadmaps for stakeholders and clear goals for design and engineering, so we can build products quickly that exceed expectations</div>            
            <div class="title3">POLISHED<br />ENGINEERING</div>
            <div class="box3">I can jump into any tech stack and understand the requirements and limitations for your product.</div>

          </div>

          <div style="clear:both"></div>

          <div class="section-header-line"></div>

          <div class="experience">
            <h2>Experience</h2>
            <div class="experience-grid">
              <div class="box">
                <ul>
                  <li>Five years experience in collaborative, data-guided product management</li>
                  <li>Product ideation and design for mobile, web, and voice apps that have reached millions of users</li>
                  <li>Track KPI tracking KPI and leading indicators to understand user behavior and apply that understanding to the product</li>
                  <li>Experience leading multiple teams as engineering lead and product manager</li>
                </ul>
              </div>
              <div class="box">
                <ul>
                  <li>Six years mobile development experience in Swift and Objective-C</li>
                  <li>Successful implementation of dual-track agile discovery and development processes</li>
                  <li>Led signup redesign at Jelly that increased signups by 15%</li>
                  <li>Shipped multiple apps featured by the iOS App Store</li>
                  <li>Shipped Jelly Voice on Amazon Alexa and, as a launch day partner, on the Google Home</li>
                </ul>
              </div>
            </div>  
          </div>  

          <div class="section-header-line"></div>

  <div class="past-work">
    <h2>PAST WORK</h2>
    <div class="past-work-grid">
    <div class="image-box"><img src="images/jelly-icon.png" width="128" height="128" /></div>
      <div class="box">
      <h3>Jelly</h3>
      Get answers from real people, fast. Through Jelly, hundreds of thousands of people got answers to their pressing questions on iOS and web, and thousands more answered questions to power our knowledge engine. I was Product Manager at Jelly until our acquisition by Pinterest in 2017.
      </div>

    <div class="image-box"><img src="images/jelly-voice-icon.png" width="128" height="128" /></div>
      <div class="box">
        <h3>Jelly Voice</h3>
        As Product Manager and lead engineer, I helped expand Jelly's reach so our users could effortlessly get answers over voice interfaces. We launched on the Google Home, then expanded to Amazon Alexa. <a href="https://vimeo.com/195830765">Watch the video</a> to get a sense of how Jelly worked.
      </div>

    <div class="image-box"><img src="images/ita-icon.png" width="128" height="128" /></div>
      <div class="box">
        <h3>Ita</h3>
        At Nice Mohawk, we built Ita, a list-making app for iPhone and iPad. We sold Ita to customers for three years before discontinuing support in 2016.
      </div>

    <div class="image-box"><img src="images/lovely-icon.png" width="128" height="128" /></div>
      <div class="box">
<h3>Lovely</h3>
iPhone, Swift from the ground up. Effortlessly get answers over voice interfaces. Full featured question asking on Google Home and Amazon Alexa. Watch the video for a demo.
      </div>
  </div>

  <div class="footer">Making things is fun. Let’s do it together.<br />© Robert Cantoni 2017</div>

      </div>
    </main>
  </body>
</html>

